language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
sudo: false
dist: bionic
addons:
  firefox: latest
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.11.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start ||
  - pip install -U pip setuptools --quiet
install:
  - pip install jupyter lab
  - python setup.py install
script:
  - pytest
notifications:
  - slack: genepattern:OAj2q4hee6Mk5v9r6SUCIacZ
