language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
sudo: false
dist: focal
services:
  - xvfb
addons:
  firefox: latest
before_install:
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
  - mkdir geckodriver
  - tar -xzf geckodriver-v0.11.1-linux64.tar.gz -C geckodriver
  - export PATH=$PATH:$PWD/geckodriver
  - export DISPLAY=:99.0
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  - conda create -q -n jupyterenv python=$TRAVIS_PYTHON_VERSION
  - conda install -c conda-forge jupyterlab=3.0.7
install:
  - conda activate jupyterenv
  - npm install
  - pip install .
  - jupyter labextension install .
  - jupyter nbextension install --py nbtools --sys-prefix
  - jupyter nbextension enable --py nbtools --sys-prefix
script:
  - pytest
notifications:
  - slack: genepattern:OAj2q4hee6Mk5v9r6SUCIacZ
