.nbtools {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    overflow: visible !important;
    border: 1px solid var(--jp-border-color1);
    border-radius: 2px;
    background: var(--jp-layout-color0);
}

.nbtools .nbtools-header {
    background-color: var(--jp-layout-color4);
    color: var(--jp-ui-inverse-font-color0);
    padding: 7px;
}

.nbtools-logo {
    height: 20px !important;
    padding-right: 10px;
}

.nbtools-title {
    margin: 0;
    line-height: 25px;
    position: absolute;
    font-size: 1.1em;
}

.nbtools-subtitle {
    position: absolute;
    right: 75px;
    text-align: right;
    line-height: 25px;
    font-size: 0.9em;
}

.nbtools-controls {
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: right;
}

.nbtools-controls > button {
    border-width: 1px;
    width: 25px;
    padding-right: 0;
    padding-left: 0;
    height: 25px;
    border-radius: 2px;
    color: var(--jp-ui-font-color1);
    background-color: var(--jp-layout-color0);
    border-color: var(--jp-border-color2);
}

.nbtools-controls > button.nbtools-gear {
    width: 30px;
}

.nbtools-menu {
    display: block;
    position: absolute;
    top: 28px;
    right: 0;
    margin: 0;
    background: var(--jp-layout-color0);
    color: var(--jp-ui-font-color0);
    border: solid 1px var(--jp-border-color1);
    padding: 5px 0 5px 0;
    list-style-type: none;
    cursor: pointer;
    z-index: 4;
    white-space: nowrap;
}

.nbtools-menu > li {
    padding: 3px 10px 3px 10px;
}

.nbtools-menu > li:hover {
    background-color: var(--jp-layout-color2);
}

.nbtools-body {
    padding: 10px;
    position: relative;
}

.nbtools .nbtools-description {
    position: relative;
    left: -10px;
    top: -10px;
    width: 100%;
    background-color: var(--jp-layout-color2);
    padding: 10px;
}

.nbtools-toggle {
	display: block;
	height: auto;
	opacity: 1;
	overflow: hidden;
	transition: height 350ms ease-in-out, opacity 750ms ease-in-out;
}

.nbtools-toggle.nbtools-hidden {
	display: none;
	height: 0;
	opacity: 0;
}

.nbtools div.widget-box,
.nbtools div.widget-gridbox {
    overflow: visible !important;
}

.nbtools.jupyter-widgets-disconnected::before,
.nbtools .jupyter-widgets-disconnected::before {
    position: absolute;
}

.nbtools-disconnected {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--jp-ui-inverse-font-color3);
    z-index: 2;
}

.jupyter-widgets-disconnected > .nbtools-disconnected {
    display: block;
}

.nbtools-disconnected > .nbtools-panel {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.nbtools-panel {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    overflow: visible !important;
    border: 1px solid var(--jp-border-color0);
    border-radius: 2px;
    background-color: var(--jp-layout-color1);
}

div.nbtools-connect {
    text-align: center;
    margin-top: 10px;
}

button.nbtools-connect {
    background-color: var(--jp-layout-color4);
    color: var(--jp-ui-inverse-font-color0);
    border: 1px solid var(--jp-border-color1);
    padding: 6px 12px;
    font-size: 0.9em;
    cursor: pointer;
}


/* Hack fix for floating menus */

div.jupyter-widgets,
.lm-Widget.jp-OutputPrompt.jp-OutputArea-prompt,
.lm-Widget.p-Widget.jp-OutputArea,
.lm-Widget.lm-Widget.jp-OutputArea,
.lm-Widget.lm-Panel.jp-OutputArea,
.lm-Widget.lm-Panel.jp-OutputArea-child,
.lm-Widget.lm-Panel.jp-OutputArea-output,
.lm-Widget.jp-OutputArea.jp-Cell-outputArea {
    overflow: visible !important;
}