.nbtools-icon {
    position: relative;
    top: 3px;
    left: -9px;
    font-size: 1.2em;
    color: var(--jp-inverse-layout-color3);
}

.nbtools-wrapper {
    padding: 4px;
    background-color: var(--jp-layout-color1);
}

.nbtools-outline {
    padding: 0 9px;
    background-color: var(--jp-input-active-background);
    height: 30px;
    box-shadow: inset 0 0 0 var(--jp-border-width) var(--jp-input-border-color);
}

.nbtools-outline::after {
    content: ' ';
    color: white;
    background-color: var(--jp-brand-color1);
    position: absolute;
    top: 4px;
    right: 4px;
    height: 30px;
    width: 10px;
    padding: 0 10px;
    background-image: var(--jp-icon-search-white);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.nbtools-search {
    background: transparent;
    width: calc(100% - 18px);
    float: left;
    border: none;
    outline: none;
    font-size: var(--jp-ui-font-size1);
    color: var(--jp-ui-font-color0);
    line-height: 28px;
}

#nbtools-tabs {
    min-height: calc( var(--jp-private-horizontal-tab-height) + 2 * var(--jp-border-width) );
}

#nbtools-tabs > .p-TabBar-content {
    align-items: flex-end;
    min-width: 0;
    min-height: 0;
}

#nbtools-tabs .p-TabBar-tab {
    flex: 0 1 var(--jp-private-horizontal-tab-width);
    min-height: calc( var(--jp-private-horizontal-tab-height) + var(--jp-border-width) );
    min-width: 0;
    margin-left: calc(-1 * var(--jp-border-width));
    line-height: var(--jp-private-horizontal-tab-height);
    padding: 0 8px;
    background: var(--jp-layout-color2);
    border: var(--jp-border-width) solid var(--jp-border-color1);
    border-bottom: none;
    position: relative;
    max-width: min-content;
}

#nbtools-tabs .p-TabBar-tab.p-mod-current {
    background: var(--jp-layout-color1);
    color: var(--jp-ui-font-color0);
    min-height: calc( var(--jp-private-horizontal-tab-height) + 2 * var(--jp-border-width) );
    transform: translateY(var(--jp-border-width));
}

.nbtools-toolbox {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    top: 65px;
    right: 0;
    left: 0;
}

header.nbtools-origin {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
    letter-spacing: 1px;
    font-size: var(--jp-ui-font-size0);
    line-height: 24px;
    height: 24px;
    padding: 4px;
}

.nbtools-expanded {
    background-image: var(--jp-image-caretdown);
}

.nbtools-collapsed {
    background-image: var(--jp-image-caretright);
}

ul.nbtools-origin {
    padding-left: 0;
    margin-top: 0;
}

.nbtools-tool {
    padding: 8px;
    border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
    list-style-type: none;
}

.nbtools-tool > .nbtools-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--jp-ui-font-color1);
    font-size: var(--jp-ui-font-size1);
    font-weight: 400;
    padding: 0 12px 4px 0;
}

.nbtools-tool > .nbtools-description {
    padding: 0 12px 4px 0;
    font-size: var(--jp-ui-font-size1);
    color: var(--jp-ui-font-color2);
    font-weight: 400;
}