.nbtools-icon {
    position: relative;
    font-size: 1.2em;
    color: var(--jp-inverse-layout-color3);
}

.jp-mod-left .nbtools-icon {
    top: 3px;
    left: -9px;
}

.jp-mod-right .nbtools-icon {
    top: -3px;
    left: 9px;
}

.nbtools-wrapper {
    padding: 4px;
    background-color: var(--jp-layout-color1);
}

.nbtools-outline {
    padding: 0 9px;
    background-color: var(--jp-input-active-background);
    height: 30px;
    box-shadow: inset 0 0 0 var(--jp-border-width) var(--jp-input-border-color);
}

.nbtools-outline::after {
    content: ' ';
    position: absolute;
    top: 4px;
    right: 4px;
    height: 30px;
    width: 10px;
    padding: 0 10px;
    background-image: var(--jp-icon-search);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.nbtools-search {
    background: transparent;
    width: calc(100% - 18px);
    float: left;
    border: none;
    outline: none;
    font-size: var(--jp-ui-font-size1);
    color: var(--jp-ui-font-color0);
    line-height: 28px;
}

#nbtools-tabs {
    min-height: calc( var(--jp-private-horizontal-tab-height) + 2 * var(--jp-border-width) );
}

#nbtools-tabs > .lm-TabBar-content {
    align-items: flex-end;
    min-width: 0;
    min-height: 0;
}

#nbtools-tabs .lm-TabBar-tab {
    flex: 0 1 var(--jp-private-horizontal-tab-width);
    min-height: calc( var(--jp-private-horizontal-tab-height) + var(--jp-border-width) );
    min-width: 0;
    margin-left: calc(-1 * var(--jp-border-width));
    line-height: var(--jp-private-horizontal-tab-height);
    padding: 0 8px;
    background: var(--jp-layout-color2);
    border: var(--jp-border-width) solid var(--jp-border-color1);
    border-bottom: none;
    position: relative;
    max-width: min-content;
}

#nbtools-tabs .lm-TabBar-tab.lm-mod-current {
    background: var(--jp-layout-color1);
    color: var(--jp-ui-font-color0);
    min-height: calc( var(--jp-private-horizontal-tab-height) + 2 * var(--jp-border-width) );
    transform: translateY(var(--jp-border-width));
}

.nbtools-toolbox,
.nbtools-databank {
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    bottom: 0;
    top: 35px;
    right: 0;
    left: 0;
}

header.nbtools-origin {
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--jp-ui-font-color1);
    border-bottom: var(--jp-border-width) solid var(--jp-border-color2);
    letter-spacing: 1px;
    font-size: var(--jp-ui-font-size0);
    line-height: 24px;
    height: 24px;
    padding: 4px;
}

header.nbtools-origin > .nbtools-collapse {
    position: relative;
    top: -7px;
}

header.nbtools-origin > span.nbtools-header-title {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: calc(100% - 90px);
}

header.nbtools-origin > button {
    border: var(--jp-border-width) solid transparent;
    background: transparent;
    color: var(--jp-ui-font-color1);
    font-size: 0.9em;
    float: right;
    position: relative;
    top: -5px;
    height: 25px;
}

header.nbtools-origin > button > menu {
    position: absolute;
    right: 0;
    top: 13px;
    list-style: none;
    display: none;
    z-index: 10000;
    background: var(--jp-layout-color0);
    color: var(--jp-ui-font-color1);
    border: var(--jp-border-width) solid var(--jp-border-color1);
    font-size: 0.9em;
    box-shadow: var(--jp-elevation-z6);
    width: 120px;
    text-align: left;
    padding: 2px 0 3px 0;
    line-height: 1.6em;
}

header.nbtools-origin > button > menu > li {
    padding: 0 5px 1px 5px;
}

header.nbtools-origin > button > menu > li:hover {
    background: var(--jp-layout-color2);
}

header.nbtools-origin > button:hover {
    border: var(--jp-border-width) solid var(--jp-border-color2);
    background: var(--jp-layout-color2);
    cursor: pointer;
}

header.nbtools-origin > button > i {
    margin: 0 3px 0 3px;
}

.nbtools-collapse {
    font-weight: 600;
}

.nbtools-expanded::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
}

.nbtools-collapsed::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
}

ul.nbtools-origin {
    padding-left: 0;
    margin-top: 0;
}

ul.nbtools-group {
    padding-left: 15px;
}

.nbtools-tool {
    padding: 8px;
    border-bottom: solid var(--jp-border-width) var(--jp-border-color2);
    list-style-type: none;
    cursor: pointer;
}

.nbtools-tool:hover {
    background-color: var(--jp-layout-color2);
}

.nbtools-tool > .nbtools-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--jp-ui-font-color1);
    font-size: var(--jp-ui-font-size1);
    font-weight: 400;
    padding: 0 12px 4px 0;
}

.nbtools-tool > .nbtools-add {
    float: right;
    font-size: 28px;
    line-height: 15px;
    visibility: hidden;
    color: var(--jp-ui-font-color2)
}

.nbtools-tool:hover > .nbtools-add {
    visibility: visible;
}

.nbtools-tool > .nbtools-add.nbtools-hidden {
    display: none;
}

.nbtools-tool > .nbtools-description {
    padding: 0 12px 4px 0;
    font-size: var(--jp-ui-font-size1);
    color: var(--jp-ui-font-color2);
    font-weight: 400;
    max-height: 3.5em;
    overflow: hidden;
}

.nbtools-tool .nbtools-data {
    text-indent: -10px;
    padding: 0 12px 4px 20px;
    font-size: var(--jp-ui-font-size1);
    color: var(--jp-ui-font-color2);
    font-weight: 400;
    max-height: 3.5em;
    overflow: hidden;
    display: block;
    text-decoration: none;
    word-break: break-all;
    line-height: 1.28581;
    box-sizing: unset;
}

.nbtools-tool .nbtools-data:hover {
    cursor: pointer;
    background-color: var(--jp-layout-color3);
}