.nbtools {
    margin-bottom: 0;
    width: 100%;
    max-width: 100%;
    overflow: visible !important;
    border: 1px solid rgba(43, 43, 43, 0.8);
}

.nbtools-header {
    background-color: rgba(43, 43, 43, 0.8);
    color: white;
    padding: 5px;
    height: 20px;
}

.nbtools-logo {
    height: 20px !important;
    float: left;
    padding-right: 10px;
}

.nbtools-title {
    float: left;
    margin: 0;
}

.nbtools-controls {
    float: right;
}

.nbtools-collapse,
.nbtools-gear {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.nbtools-menu {
    display: block;
    position: absolute;
    top: 23px;
    right: 7px;
    margin: 0;
    background: white;
    color: black;
    border: solid 1px darkgray;
    padding: 5px 0 5px 0;
    list-style-type: none;
    cursor: pointer;
    z-index: 2;
}

.nbtools-menu > li {
    padding: 0 10px 0 10px;
}

.nbtools-menu > li:hover {
    background-color: #eeeeee;
}

.nbtools-body {
    padding: 10px;
}