.nbtools-form .widget-gridbox {
    width: 100%;
    grid-template: "label input" auto ". description" auto / 25% 75%;
}

.nbtools-form .widget-gridbox > .widget-label:first-child {
    grid-area: label;
}

.nbtools-form .widget-gridbox > .widget-text {
    grid-area: input;
}

.nbtools-form .widget-gridbox > .widget-label:last-child {
    grid-area: description;
}