.nbtools-uibuilder .nbtools-description {
    min-height: 18px;
}

.nbtools-run {
    position: absolute;
    z-index: 1;
    background-color: rgba(43, 43, 43, 0.8);
    color: white;
    border: 1px solid rgba(43, 43, 43, 0.8);
    padding: 6px 12px;
    font-size: 0.9em;
    cursor: pointer;
}

.nbtools-run:hover {
    background-color: rgba(43, 43, 43, 0.9);
}

.nbtools-run:active {
    background-color: rgba(43, 43, 43, 0.7);
}

.nbtools-run:first-child {
    right: 5px;
    top: 34px;
}

.nbtools-run:last-child {
    right: 5px;
    bottom: 5px;
}

.nbtools-uibuilder .widget-interact {
    overflow: visible;
}

.nbtools .jupyter-button.hidden {
    display: none;
}

.nbtools-input.missing {
    border: red solid 2px;
}

.nbtools-fileinput .widget-text {
    width: 100%;
}

.nbtools-input:last-child {
    position: relative;
    top: 13px;
    z-index: 1;
    height: 0;
    overflow: visible;
}

.nbtools-footer {
    position: relative;
    left: -10px;
    top: 10px;
    width: 100%;
    background-color: #eeeeee;
    padding: 10px;
    min-height: 18px;
}