.nbtools-status {
    width: 33%;
    float: left;
    padding-right: 10px;
    text-align: right;
    color: #303F9F;
    font-family: monospace;
}

.nbtools-files {
    width: calc(66% - 30px);
    float: right;
    padding-left: 20px;
    position: relative;
}

.nbtools-file {
    display: block;
    color: #296eaa;
    text-decoration: none;
}

.nbtools-file-menu {
    left: 0;
    right: auto;
    top: 20px;
}

.nbtools-menu-header,
.nbtools-menu-header:hover {
    background-color: #FFFFFF !important;
    cursor: text;
    color: #868686;
    font-weight: bold;
}

.nbtools-menu-subitem {
    padding-left: 20px;
}

.nbtools-status::after,
.nbtools-files::after {
  content: "";
  clear: both;
  display: table;
}

.nbtools-text {
    font-family: monospace;
    padding-top: 20px !important;
    width: 100%;
}

.nbtools-visualization {
    margin-top: 20px;
}

.nbtools-visualization-iframe {
    width: 100%;
    height: 500px;
    overflow: auto;
    border: 1px solid rgba(82, 82, 82, 1);
}